body {
    margin: 0;
    padding: 0;
  
}

h5,h2{
    font-family: "Nunito Sans", serif;
    font-weight:700 ;
    font-size:30px
}

p{
    font-family: "Nunito Sans", serif;
    font-weight: 300;  
}

h1,h3{
    font-family: "Nunito Sans", serif;
    font-weight:600 ; 
}

.nunito-sans-text {
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}

.hero {
    background-image: url('https://res.cloudinary.com/dntc8trob/image/upload/v1738467121/imagen-principal_rj3b5z.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 100px;
    height: 700px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.cards {
     height: 400px;
     width: auto;
}

.imgs {
    height: 400px;
    width: 100%;
}

.testimonialI {
    height: 150px;
    width: 150px;
}

.imput {
    border-radius: 20px;
    width: 300px;;
}

.margin{
    padding-bottom:50px;
}


.color{
    color: rgb(63, 166, 37);
}

.up{
    transform: translateY(-30%);
}

.background-green{
    background-color: rgb(63, 166, 37) ;
}

.background-white{
    background-color: aliceblue;
}

.borde{
    border-radius: 30px;
}

.footer { 
    position: fixed ; 
    bottom: 0 ; 
    margin-top: 100px;
}



